@use "sass:map";
$types: primary, success, danger, warning, error, default ,info;
// 没传值默认空map
$colors: () !default;

$colors: map.deep-merge(
    (
        'primary': #4153d9,
        'success': #45BF55,
        'danger': #f6b309,
        'warning': #e55507,
        'error': #f7282f,
        'default': #d8d8d8,
        'info': #333333,
        'white': #ffffff,
        'black': #000000
    ),
    $colors
);

$color-primary: map.get($colors, 'primary') !default;
$color-success: map.get($colors, 'success') !default;
$color-danger: map.get($colors, 'danger') !default;
$color-warning: map.get($colors, 'warning') !default;
$color-error: map.get($colors, 'error') !default;
$color-default: map.get($colors, 'default') !default;
$color-info: map.get($colors, 'info') !default;
$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;

$sizes: large, middle, small, tiny;

$size_map: () !default;

$size_map: map.deep-merge(
    (
        'large': (
            'height': 40px,
            'padding': 13px,
            'fontSize': 17px
        ),
        'middle': (
            'height': 35px,
            'padding': 12px,
            'fontSize': 15px
        ),
        'small': (
            'height': 30px,
            'padding': 10px,
            'fontSize': 14px
        ),
        'tiny': (
            'height': 25px,
            'padding': 8px,
            'fontSize': 13px
        )
    ),
    $size_map
)