@use "../common/var.scss" as *;
@use "sass:map";
.mt_button {
    // 生成type类
    @each $type in $types {
        &__#{$type} {
            $current: map.get($colors,$type);
            --button-background: #{$current};
            --button-hover: #{lighten($current, 20%)};
            --button-active: #{darken($current, 20%)};
            @if $type == "default" {
                --button-color: #{$color-info};
            } @else {
                --button-color: #{$color-white};
            }
        }
    }
    // 生成size类
    @each $size in $sizes {
        &__#{$size} {
            --button-height: #{map.get($size_map, $size, 'height')};
            --button-padding:  #{map.get($size_map, $size, 'padding')};
            --button-font-size:  #{map.get($size_map, $size, 'fontSize')};
        }
    }
}