:root {
  --vp-c-brand: #7B52ab;
}
.vp-doc div[class*='language-'] {
  border-radius: 0px;
  margin: 0px;
}

.VPSidebarItem  {
  &:not(.level-0) .text {
    margin-bottom: 10px;
    border-radius: 5px;;
    padding-left: 10px;
    &:hover {
      background-color: #7B52ab;
      color: #fff !important;
    }
  }
  &.is-active .text {
    background-color: #7B52ab;
    color: #fff !important;
  }
  
}
.component__container {
  margin: 10px 0px;
}
// 移除表格默认样式
table {
    margin: 0;

    th,
    tr,
    td {
      border: none;
      background-color: none;
    }
    tr:nth-child(2n) {
      background-color: none;
    }
  }

// 表格
.vp-table__container {
width: 100%;
overflow-y: hidden;
overflow-x: auto;

table {
    width: 100%;
    display: inline-table;
}

th,
tr:nth-child(2n) {
    background-color: transparent;
}

td:nth-child(2) {
    white-space: nowrap;
}

td,
th {
    text-align: left;
    font-size: 15px;
    border-bottom: 1px solid #f3f3f3;
}

th {
    white-space: nowrap;
    color: #fff;
    background-color: #7B52ab;
    border: 1px solid #fff;
}
}
