@use '../variables/var.switch.scss' as *;
@use "../common/var.scss" as *;

.mt_switch {
    height: var(--switch-height);
    width: var(--switch-width);
    background-color: #bbb;
    display: inline-flex;
    vertical-align: baseline;
    margin: 5px 3px;
    padding: 0px 0px;
    position: relative;
    user-select: none;
    cursor: pointer;
    transition: all ease-in-out .5s;

    &--active {
        background-color: var(--switch-background);
        color: var(--switch-color);
    }

    &--active &__ball {
        left: calc(100% + 1px - var(--switch-height));
    }

    &__ball {
        transition: all ease-in-out .5s;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        height: calc(var(--switch-height) - 2px);
        width: calc(var(--switch-height) - 2px);
        // border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 2px 1px #9c9a9a;
    }
    &__round {
        border-radius: 30px;
    }
    &__round &__ball {
        border-radius: 50%;
    }
}